nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    z-index: 1;

}
form.nav-form {
    justify-content:center;
}
::-webkit-input-placeholder {
    text-align: center;
}

button#left {
    position: fixed;
    top: 50%;
    left: 0;
}

button#right {
    position: fixed;
    top: 50%;
    right: 0;
}